@-webkit-keyframes blob {
  0% {
    border-radius: 23% 1% 51% 4% / 26% 63% 28% 46%;
    height: 90%;
    width: 90%;
  }
  25% {
    border-radius: 63% 43% 92% 64% / 82% 28% 18% 36%;
    height: 95%;
    width: 87%;
  }
  50% {
    border-radius: 28% 93% 25% 22% / 19% 71% 84% 26%;
    height: 85%;
    width: 100%;
  }
  75% {
    border-radius: 82% 17% 99% 84% / 99% 77% 98% 16%;
    height: 94%;
    width: 79%;
  }
  100% {
    border-radius: 50%;
    height: 89%;
    width: 93%;
  }
}

@keyframes blob {
  0% {
    border-radius: 23% 1% 51% 4% / 26% 63% 28% 46%;
    height: 90%;
    width: 90%;
  }
  25% {
    border-radius: 63% 43% 92% 64% / 82% 28% 18% 36%;
    height: 95%;
    width: 87%;
  }
  50% {
    border-radius: 28% 93% 25% 22% / 19% 71% 84% 26%;
    height: 85%;
    width: 100%;
  }
  75% {
    border-radius: 82% 17% 99% 84% / 99% 77% 98% 16%;
    height: 94%;
    width: 79%;
  }
  100% {
    border-radius: 50%;
    height: 89%;
    width: 93%;
  }
}

@-webkit-keyframes point {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes point {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes ex {
  0% {
    -webkit-transform: rotate(4deg) translateY(0px);
            transform: rotate(4deg) translateY(0px);
  }
  20% {
    -webkit-transform: rotate(0deg) translateY(1px);
            transform: rotate(0deg) translateY(1px);
  }
  40% {
    -webkit-transform: rotate(-4deg) translateY(2px);
            transform: rotate(-4deg) translateY(2px);
  }
  60% {
    -webkit-transform: rotate(0deg) translateY(3px);
            transform: rotate(0deg) translateY(3px);
  }
  80% {
    -webkit-transform: rotate(4deg) translateY(4px);
            transform: rotate(4deg) translateY(4px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(5px);
            transform: rotate(0deg) translateY(5px);
  }
}

@keyframes ex {
  0% {
    -webkit-transform: rotate(4deg) translateY(0px);
            transform: rotate(4deg) translateY(0px);
  }
  20% {
    -webkit-transform: rotate(0deg) translateY(1px);
            transform: rotate(0deg) translateY(1px);
  }
  40% {
    -webkit-transform: rotate(-4deg) translateY(2px);
            transform: rotate(-4deg) translateY(2px);
  }
  60% {
    -webkit-transform: rotate(0deg) translateY(3px);
            transform: rotate(0deg) translateY(3px);
  }
  80% {
    -webkit-transform: rotate(4deg) translateY(4px);
            transform: rotate(4deg) translateY(4px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(5px);
            transform: rotate(0deg) translateY(5px);
  }
}

.ex:hover {
  -webkit-animation: ex .3s linear;
          animation: ex .3s linear;
}

body {
  background-color: #2c493f;
  background-image: url("/images/blu-stripes.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

body #main {
  height: 100vh;
  width: 100vw;
}

#page {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: blob 16s infinite alternate;
          animation: blob 16s infinite alternate;
  background: radial-gradient(circle, white 22%, #c3c3c3 100%);
  -webkit-filter: drop-shadow(2px 2px 4px black);
          filter: drop-shadow(2px 2px 4px black);
}

#menuAnchor {
  position: absolute;
  left: 13px;
  top: 13px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
}

#menuAnchor a {
  text-decoration: none;
  color: black;
}

#menuAnchor a:link {
  color: black;
}

#menuAnchor a:visited {
  color: black;
}

#menuAnchor a:hover {
  color: black;
}

#menuAnchor a:active {
  color: black;
}

#menuAnchor #dropdownDiv {
  position: absolute;
  left: 0px;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
  -webkit-filter: drop-shadow(0 0 1px black);
          filter: drop-shadow(0 0 1px black);
  z-index: 3;
}

#menuAnchor #dropdownDiv #about {
  border-radius: 3px 3px 0px 0px;
  -webkit-transition: opacity .5s, visibility .5s, background-color .2s;
  transition: opacity .5s, visibility .5s, background-color .2s;
}

#menuAnchor #dropdownDiv #portfolio {
  -webkit-transition: opacity 1.5s, visibility 1.5s, background-color .2s;
  transition: opacity 1.5s, visibility 1.5s, background-color .2s;
}

#menuAnchor #dropdownDiv #contact {
  border-radius: 0px 0px 3px 3px;
  -webkit-transition: opacity 2.5s, visibility 2.5s, background-color .2s;
  transition: opacity 2.5s, visibility 2.5s, background-color .2s;
}

#menuAnchor #dropdownDiv .dropdownOption {
  background-color: #eee;
  padding: 8px;
}

#menuAnchor #dropdownDiv .dropdownOption:hover {
  background-color: #ccc;
  cursor: pointer;
}

#menuImg {
  width: 45px;
  height: 45px;
}

#text {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -135%);
          transform: translate(-50%, -135%);
  font-size: 20vh;
}

.show {
  opacity: 1;
  visibility: visible;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

span:not(#arrow) {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: color .5s, -webkit-transform .3s;
  transition: color .5s, -webkit-transform .3s;
  transition: color .5s, transform .3s;
  transition: color .5s, transform .3s, -webkit-transform .3s;
  -webkit-filter: drop-shadow(1px 1px black);
          filter: drop-shadow(1px 1px black);
}

span:not(#arrow):hover {
  cursor: pointer;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

span:not(#arrow)::-moz-selection {
  color: #555;
}

span:not(#arrow)::selection {
  color: #555;
}

#p {
  width: 5%;
}

#clickHere {
  position: absolute;
  color: #eee;
  left: 70px;
  top: 2px;
  -webkit-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
  z-index: 3;
  -webkit-animation: point 1s linear infinite;
          animation: point 1s linear infinite;
}

#clickHere span {
  font-size: 30px;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

@media (min-height: 300px) and (orientation: portrait) {
  #text {
    font-size: 15vw;
  }
  body {
    height: 96vh;
  }
  #clickHere {
    top: 8px;
    padding: 0px 5px 5px 3px;
    font-size: 12px;
  }
  @-webkit-keyframes blob {
    0% {
      border-radius: 23% 1% 51% 4% / 26% 63% 28% 46%;
      height: 100vh;
    }
    25% {
      border-radius: 63% 43% 92% 64% / 82% 28% 18% 36%;
      height: 80vh;
    }
    50% {
      border-radius: 28% 93% 25% 22% / 19% 71% 84% 26%;
      height: 30vh;
    }
    75% {
      border-radius: 82% 17% 99% 84% / 99% 29% 98% 16%;
      height: 70vh;
    }
    100% {
      border-radius: 34% 82% 3% 63% / 46% 77% 88% 25%;
      height: 95vh;
    }
  }
  @keyframes blob {
    0% {
      border-radius: 23% 1% 51% 4% / 26% 63% 28% 46%;
      height: 100vh;
    }
    25% {
      border-radius: 63% 43% 92% 64% / 82% 28% 18% 36%;
      height: 80vh;
    }
    50% {
      border-radius: 28% 93% 25% 22% / 19% 71% 84% 26%;
      height: 30vh;
    }
    75% {
      border-radius: 82% 17% 99% 84% / 99% 29% 98% 16%;
      height: 70vh;
    }
    100% {
      border-radius: 34% 82% 3% 63% / 46% 77% 88% 25%;
      height: 95vh;
    }
  }
}
/*# sourceMappingURL=styles.css.map */