
$green: #235037;
$purple: darken(#450874, 15%);
$black: black;


@keyframes point {
  0% {transform: translateX(0px);}
  50% {transform: translateX(3px);}
  100% {transform: translateX(0px);}
}

html{
  scroll-behavior: smooth;
}

body{
  width: 98vw;
  background-color: $green;
  background-image: url("/images/blu-stripes.png");

  #landing{
    height: 50vh;
    width: 100vw;
    position: relative;
  }
}

#menuAnchor{
  position: absolute;
  left: 13px;
  top: 13px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: opacity .5s, visibility .5s;

  a{
    text-decoration: none;
    color: $green;

    &:link, &:visited, &:hover, &:active {color:$green;}
  }


  #dropdownDiv{
    position: absolute;
    left: 0px;
    top: 50px;
    display: flex;
    flex-direction: column;
    transition: opacity .5s, visibility .5s;
    filter: drop-shadow(0 0 1px black);
    z-index: 3;
  
      #about{
        border-radius: 3px 3px 0px 0px;
        transition: opacity .5s, visibility .5s, background-color .2s;
      }
  
      #portfolio{
        transition: opacity 1.5s, visibility 1.5s, background-color .2s;
      }
  
      #contact{
        border-radius: 0px 0px 3px 3px;
        transition: opacity 2.5s, visibility 2.5s, background-color .2s;
      }
  
      .dropdownOption{
        background-color: #eee;
        padding: 8px;
  
        &:hover{
          background-color: #ccc;
          cursor: pointer;
        }
    }
  }
}

  #menuImg{
    width: 45px;
    height: 45px;
  }
  
  #text{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -135%);
    font-size: 20vh;
  }

  .show{
    opacity: 1;
    visibility: visible;
  }

  .hide{
    visibility: hidden;
    opacity: 0;

  }
  
  span{
    &:not(#arrow){
      display: inline-block;
      align-self: center;
      transition: color .5s, transform .3s;
      filter: drop-shadow(1px 1px black);
      &:hover{
        cursor: pointer;
        transform: translateY(5px);
      }
      &::selection{
        color: #555;
      }
    }
  }
  
  #p{
    width: 5%;
  }

  #clickHere{
    position: absolute;
    color: #eee;
    left: 70px;
    top: 2px;
    transition: opacity .5s, visibility .5s;
    z-index: 3;
    animation: point 1s linear infinite;

    span{
      font-size: 30px;
    }
  }

  .hide{
    visibility: hidden;
  }

  .show{
    visibility: visible;
  }

  @media (min-height: 300px) and (orientation:portrait){
    #text{
      font-size: 15vw;
    }

    body{
      height: 96vh;
    }

    #clickHere{
      top: 8px;
      padding: 0px 5px 5px 3px;
      font-size: 12px;
  
    }

    @keyframes blob {
      0% {border-radius: 23% 1% 51% 4% / 26% 63% 28% 46%;
          height: 100vh;}
      25% {border-radius:63% 43% 92% 64% / 82% 28% 18% 36%;
          height: 80vh;}
      50% {border-radius: 28% 93% 25% 22% / 19% 71% 84% 26%;
          height: 30vh;}
      75% {border-radius: 82% 17% 99% 84% / 99% 29% 98% 16%;
          height: 70vh;}
      100% {border-radius: 34% 82% 3% 63% / 46% 77% 88% 25%;
          height: 95vh;}
    }
  }

  #hey{
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: white;
  }